.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.5rem;
    min-width: 95%;
    text-align: center;
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    position: fixed;
}

.content-table th,
.content-table td {
    padding: 12px, 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#map{
    height: 500px;
    width: 100%;
}